.filter-dev-button {
  position: absolute;
  top: 15px;
  left: 5px;
  align-items: center;
  transform: translateX(0%);
  z-index: 1000;
  background-color: #038543 !important;
  color: white !important;
  border-radius: 1px;
}

.print-dev-button {
  position: absolute;
  top: 70px;
  left: 3px;
  align-items: center;
  transform: translateX(0%);
  z-index: 1000;
  color: white !important;
  border-radius: 1px;
}
.dummy-dev-button {
  position: relative;
  top: 100px;
  right: 0.9em;
  align-items: center;
  transform: translateX(0%);
  z-index: 1000;
  color: white !important;
  border-radius: 1px;
}
.filter-dev-section {
  position: absolute;
  top: 100px;
  left: 3.5%;
  align-items: center;
  transform: translateX(0%);
  z-index: 1000;
  background-color: white !important;
  color: #038543 !important;
  border-radius: 10px;
  width: 530px;
  padding: 5px;
  overflow-y: auto;
  /* Adjust height based on minimized state */
  height: auto; /* Set to auto so it can adjust its height based on content */
  transition: height 0.3s ease; /* Add transition for smooth animation */
}

.filter-dev-section.minimized {
  height: 50px; /* Adjust the height when minimized */
  width: 10%;
  padding: 10px; /* Add padding to give some space around the icon */
  opacity: 0.9;
  /* Add other styles as needed */
}