/* timeSliderStyles.css */
.time-slider {
  width: 80%;
  margin: 20px auto;
  position: absolute;
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}
.slider-container {
  display: flex;
  flex-direction: column;
  z-index: 999;

  /* align-items: center; */
}

.time-slider-info {
  color: #555;
  margin-top: 8px;
  font-weight: bold;
  font-size: 13px;
  width: 50%;
  box-sizing: border-box;

  /* text-shadow: 1px 1px 15px #555; */
}

div.time-slider .rc-slider-track {
  background-color: #026c37;
}

div.time-slider .rc-slider-handle {
  background-color: #038543;
  border-color: #026c37;
  box-shadow: 0px 0px 10px rgba(3, 133, 67, 0.5);
}
div.time-slider .rc-slider-handle:hover {
  background-color: #04a361; /* Change handle color on hover */
}
div.time-slider .rc-slider-mark-text {
  font-size: 12px;
  /* color: #fff;  */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
