.ol-layerswitcher {
    border-top: transparent !important;
    background-color: transparent !important;
    margin-top: 25px;
    position: absolute;
    left: auto !important;
    right: 10px;
    z-index: 1000;
    color: #038543;
}

.ol-layerswitcher,
.ol-layerswitcher.ol-forceopen {
    min-width: 20em;
}

.ol-layerswitcher [type=checkbox]+label:before,
.ol-layerswitcher [type=radio]+label:before {
    content: '\2713';
    border: 2px solid #ccc;
    background-color: transparent;
}
.ol-control.ol-layerswitcher [type=checkbox]:checked+label:before,
.ol-control.ol-layerswitcher [type=radio]:checked+label:before {
    background: #038543;
    border-color: #038543;
}

.ol-control.ol-layerswitcher [type=checkbox]:checked+label:after {
    content: "\2713";
    color: #fff;
    position: absolute;
    top: -.15em;
    left: 0.25em;
    cursor: pointer;
    font-weight: 900;
    text-shadow: 1px 1px #fff;
    font-size: 1.2em;
    transform: none;
    border: 0;
    box-shadow: unset;
}
.ol-control.ol-layerswitcher [type="radio"]:checked+label:after {
    content: none;
}

.ol-control.ol-layerswitcher button{
    margin-top: 25px;
    pointer-events: auto;
    background: #038543 !important;
    border: 0;
    user-select: none;
    outline: none;
    font-size: 1.5em;
    right: 0.15em;
    left: auto !important;
}
.ol-control.ol-layerswitcher button:before {
    background: #038543;
    -webkit-box-shadow: 0.1em 0.1em #fff;
    box-shadow: 0.1em 0.1em #fff;
}
.ol-control.ol-layerswitcher button:after {
    background: #fff none;
}
.ol-layerswitcher .layerswitcher-opacity {
    border:0;
    background: none;
    height: 1em;
    box-shadow: none;
}
.ol-layerswitcher .layerswitcher-opacity:before {
    content: "";
    width: 100%;
    height: 3px;
    background: #038543;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border: 1px solid #038543;
    box-sizing: border-box;
}

.ol-layerswitcher .layerswitcher-opacity .layerswitcher-opacity-cursor {
    width: auto;
    transform: translateY(-50%);
    height: 3px;
    right: 0;
    background: #666;
    border-radius: 0;
}
.ol-touch .ol-layerswitcher .layerswitcher-opacity .layerswitcher-opacity-cursor,
.ol-layerswitcher .layerswitcher-opacity .layerswitcher-opacity-cursor:before {
    position: absolute;
    transform: translate(-50%,-50%);
    width: 6px;
    height: 16px;
    left: -1px;
    border-radius: 0;
    background: #038543;
}