/* Custom styles for the LayerSwitcher container */
.ol-layerswitcher {
  border-top: transparent !important;
  background-color: transparent !important;
  padding: 0px;
  margin-top: 20px;
  position: absolute; /* Position the LayerSwitcher absolutely */
  top: 20; /* Align it to the top of the screen */
  left: 10px; /* Align it to the left side of the screen */
  z-index: 1000; /* Adjust the z-index to ensure it's above other content */
  width: 320px;
}

/* Custom styles for the checkboxes */
.ol-layerswitcher-input {
  margin-right: 5px;
}

.ol-visible {
  color: #038543;
  margin-left: 20px;
  width: "auto";
  font-size: 17px;
}

button {
  display: hidden !important;
}
.panel-container {
  background-color: white !important;
}

.ol-layerswitcher-image > button:after,
.ol-layerswitcher > button:after {
  top: 0.22em;
  left: 0.34em;
  background: #28d909;
  background-image: radial-gradient(
    circle at 0.85em 0.6em,
    #70b3be 0,
    #70b3be 0.65em,
    #83bcc5 0.65em
  );
}

.ol-layerswitcher [type="radio"]:checked + label:after,
.ol-layerswitcher [type="checkbox"]:checked + label:after {
  content: "";
  position: absolute;
  left: 0.1em;
  top: 0.1em;
  width: 1.2em;
  height: 1.2em;
  color: green;
  background: whitesmoke;
  box-sizing: border-box;
}

.ol-layerswitcher [type="radio"] + label:before,
.ol-layerswitcher [type="checkbox"] + label:before {
  content: "";
  position: absolute;
  left: 0.1em;
  top: 0.1em;
  width: 1.2em;
  height: 1.2em;
  border-color: #787878;
  background: whitesmoke;
  box-sizing: border-box;
}

.ol-layerswitcher [type="checkbox"]:checked + label:after {
  color: #038543 !important;
  /* border-width: 0 3px 3px 0; */
  border-style: solid;
  width: 0.7em;
  height: 1em;
  transform: rotate(45deg);
  left: 0.55em;
  top: -0.05em;
  /* box-shadow: 1px 0px 1px 1px #fff; */
}
.ol-layerswitcher .layerswitcher-opacity {
  position: relative;
  border: 1px solid #369 !important;
  height: 3px;
  width: 120px;
  margin: 5px 1em 10px 7px;
  box-sizing: border-box;
  border-radius: 3px;
  background: #038543 !important;
  cursor: pointer;
  box-shadow: 1px 1px 1px #038543 !important;
}
.ol-touch .ol-control button {
  font-size: 1.5em;
  background-color: transparent !important;
}

.ol-control button {
  display: block;
  margin: 1px;
  padding: 0;
  color: #fff !important;
  background-color: transparent !important;
  font-weight: 700;
  text-decoration: none;
  font-size: inherit;
  text-align: center;
  height: 1.375em !important;
  width: 1.375em !important;
  line-height: 0.4em;
  border: none;
  border-radius: 2px;
}

.ol-zoom .ol-zoom-out {
  border-radius: 2px 2px 0 0;
  background-color: #ebbd40 !important;
}

.ol-zoom .ol-zoom-in {
  border-radius: 2px 2px 0 0;
  background-color: #ebbd40 !important;
}

.ol-layerswitcher .expend-layers,
.ol-layerswitcher .collapse-layers {
  margin: 0 2px;
  background-color: transparent;
}

.ol-layerswitcher .expend-layers:after .expend-layers:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -2px;
  width: 1px !important;
  height: 100%;
}

.ol-layerswitcher-image > button,
.ol-layerswitcher > button {
  float: left !important;
  z-index: 10;
  position: relative;
  font-size: 1.7em;
}
.ol-layerswitcher .layerup {
  float: right;
  height: 2.5em;
  background-color: #b8dfcc !important;
  opacity: 0.5;
  cursor: move;
  cursor: ns-resize;
}
.ol-layerswitcher.ol-forceopen .panel-container {
  display: block;
  margin-left: 30px;
}
.ol-layerswitcher .panel {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 0.9em;
  -webkit-transition: top 0.3s;
  transition: top 0.3s;
  position: relative;
  top: 0;
  background-color: whitesmoke;
  border: 1px solid #038543;
  border-radius: 5px;
  padding: 2px;
}

.ol-layerswitcher .layerup:before,
.ol-layerswitcher .layerup:after {
  border-color: #ebbd40 #fff !important;
  border-style: solid;
  border-width: 0.4em 0.4em 0;
  content: "";
  height: 0;
  position: absolute;
  bottom: 3px;
  left: 0.1em;
  width: 0;
}

.ol-layerswitcher-image > button:after,
.ol-layerswitcher > button:after {
  top: 0.22em;
  left: 0.34em;
  background: #038543 !important;
  background-image: radial-gradient(
    circle at 0.85em 0.6em,
    #038543 0,
    #038543 0.65em,
    #038543 0.65em
  );
}
