/* .drawer {
  width: 55px;
  overflow: auto;
  transition: width 0.2s ease;
  z-index: 10;
}

.drawer.closed {
  width: 0;
  /* transform: translateX(-100%); */
/* }  */

/* drawer.css */

.drawer {
  width: 55px; /* Adjust the width of the drawer as needed */
  overflow: auto;
  transition: width 0.2s ease; /* Synchronize transition duration with occurrence popup */
  z-index: 10; /* Ensure the drawer appears below occurrence popup if they overlap */
}

.drawer.open {
  width: 300px; /* Adjusted width when the drawer is open */
}

.drawer-overlay {
 position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 9;
}

.drawer.open + .drawer-overlay {
  opacity: 1;
  pointer-events: auto;
  display: block; /* Display overlay when the drawer is open */
}
